.c-formu-juego {

        &:after {
            position: absolute;
            right: 51%;
            top: -20px;
            height: 90%;
            width: 1px;
            background: rgba(255, 255, 255, 0.2);
            content: "";
        }

        ul {
            list-style-type: none;
            margin-left: 10px;
            color: #ff4343;
        }
}