.c-mantenimiento-sala{

    &__sala{
        height: 650px;
        width: 1050px;
        min-width: 1050px;
        max-width: 1050px;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
    
    &__almacen{
        height: 650px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);

        display: flex;
        flex-wrap: wrap;
        align-content: start;
        gap: 10px;

        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__mesa{
        border: 2px solid rgba(255, 255, 255, 0.2);
    }

    &__selectDistri{
        height: 30px;
        
        .list, .current {
            line-height: 1.5;
            display: inline-block;
            vertical-align: super;
          }
    }

    &__creaDistri {
        padding: 2px 10px 0px 10px;
        height: 30px;
    }

    &__creaMesa {
        padding: 2px 10px 0px 10px;
        height: 30px;
    }

    &__borraMesa {
        padding: 2px 10px 0px 10px;
        height: 30px;

        &Alert {
            display: flex;
            align-items: baseline;
            position: fixed;
            bottom: -100px;

            transition: all 500ms ease-in;


            &.active {
                transform: translateY(-200px);
            }

        }

    }
}